[project]
	description = Ini Library in C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joe DF (joedf)
[access "refs/for/refs/*"]
	read = group user/Joe DF (joedf)
	push = group user/Joe DF (joedf)
	label-Code-Review = -2..+2 group user/Joe DF (joedf)
	label-Verified = -1..+1 group user/Joe DF (joedf)
	rebase = group user/Joe DF (joedf)
	removeReviewer = group user/Joe DF (joedf)
	submit = group user/Joe DF (joedf)
[access "refs/heads/*"]
	read = group user/Joe DF (joedf)
	create = group user/Joe DF (joedf)
	push = +force group user/Joe DF (joedf)
	pushMerge = group user/Joe DF (joedf)
[access "refs/tags/*"]
	push = +force group user/Joe DF (joedf)
	pushTag = group user/Joe DF (joedf)
	pushSignedTag = group user/Joe DF (joedf)
